<div id="postPane" class="postPane">
  <div class="sidebyside">
    <div class="row">
      <div class="col-sm-1"></div>
        <button class="btn btn-warning" style="margin: 3rem 0px 0px 0px;" onclick="closePane()">&lt; Close</button>
      <div class="col-sm">
        <h1 class="card text-center" style="margin-top: 3rem; margin-left: 5px;">
          Post a Card!
        </h1>
      </div>
    </div>
  </div>
<br />
<div class="container">
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" type="text" name="Title" value="" id="title">
  </div>
  <div class="form-group">
    <label for="Message">Message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>
<br />
<div class="someotherthing">
  <div class="row">
    <div class="col-sm">
      <input class="form-control" placeholder="Location" type="text" id="locTag" />
    </div>
    <div class="col-sm">
      <input class="form-control" placeholder="Tags" type="text" id="tagTag" />
    </div>
  </div>
</div>

<br />
<button id="post" onclick="newPost();closePane();clearFields()" class="btn btn-success" style="margin-top: 2rem;">Post</button>
</div>
</div>
