{% extends 'layout.html' %}

{% block body%}
<div class="blackout">
    </div>

<!--div for the first panel-->
<div id="panelOne" class="panelOne bg-primary">
<h1 class="heading text-light">Tags</h1>
<p class="text-light" style="margin-left: 30px;">Click a Tag below to view cards with that tag.</p>
<button id="test-button" onclick="openPanelTwo()" class="btn btn-warning">Open next</button>
<!--    div for second panel-->
<div id="panelTwo" class="panelTwo">
<a href="javascript:void(0)" class="closebtn" onclick="closePanelTwo()">&laquo;</a>
<h1 class="heading text-dark">Cards</h1>
<p class="text-dark" style="margin-left: 30px;">Click on a card below to see replies.</p>

<div class="container" id="cards">

</div>

</div>
<!--div for third panel-->
<div id="panelThree" class="panelThree bg-light">
<a href="javascript:void(0)" class="closebtn " onclick="closePanelThree()">&times; Close</a>
<div class="card">

    <div class="row">
        <div class="col-sm">
            <h1 class="heading">Comments</h1></div>
    <div class="col-sm">
        <button style="margin-top: .6rem; margin-left: 3rem;" class="btn btn-success">
        Reply!</button>
        </div>
    </div>
        <bl />
    <div class="card">
    <h2 style="margin-left: 15px;"> A sentence with a comment.</h2>
    <p style="margin-left:60px;opacity: 50%;">Time: sometime EST</p>
    </div>
       <div class="card">
    <h2 style="margin-left: 15px;"> 2nd sentence with a comment.</h2>
    <p style="margin-left:60px;opacity: 50%;">Time: sometime EST</p>
    </div>
        <div class="card">
    <h2 style="margin-left: 15px;"> 2nd sentence with a comment.</h2>
    <p style="margin-left:60px;opacity: 50%;">Time: sometime EST</p>
    </div>
</div>


</div>
{% endblock %}
