{% extends 'layout.html' %}

{% block body %}
<div class="container">

<div class="blackout">
    </div>

<!--div for the first panel-->
<div id="panelOne" class="panelOne bg-primary">
<h1 class="heading text-light">Tags</h1>
<p class="text-light" style="margin-left: 30px;">Click a Tag below to view cards with that tag.</p>
<!-- Searchbar -->
<div class="form-inline justify-content-center p-1"><input type="text" class="form-control" placeholder="Search" id="searchTags"></div>
<div id="tagList">
    <!-- populated by script -->
</div>
</div>
<!--    div for second panel-->
<div id="panelTwo" class="panelTwo">
<a href="javascript:void(0)" class="closebtn" onclick="closePanelTwo();deleteCards()">&laquo;</a>
<h1 class="heading text-dark" id="cardListHeading"></h1>
<p class="text-dark" style="margin-left: 30px;">Click on a card below to see replies.</p>
<!-- TODO: Add searchbar -->
<!-- TODO: Add option to see unanswered -->
<div class="card justify-content-center">
    <div class="form-check" >
        <input type="checkbox" class="form-check-input" id="showUnanswered" />
        <label class="form-check-label" for="showUnanswered">Show Unanswered Cards</label>
    </div>
    <form class="form-inline justify-content-center p-1"><input type="text" class="form-control" placeholder="Search" id="searchCards"></form>
</div>
<div class="container" id="cards">
  <!-- populated by script -->
</div>

</div>
<!--div for third panel-->
<div id="panelThree" class="panelThree bg-light">
    <a href="javascript:void(0)" class="closebtn " onclick="closePanelThree()">&times; Close</a>
    <div class="card text-left" id="answer">
        <label for="answerBox" class="display-4" style="margin-left:10px;">Answer:</label>
        <p id="answerDateTime" style="margin-left:10px" class="text-secondary">
            <!-- Filled by Script -->
        </p>
        <h3 id="answerText" class="comment">This question has not been answered yet.</h3>
    </div>
    <div class="card" id="commentList">
        <div class="row">
            <div class="col-sm">
                <h1 class="heading">Comments</h1></div>
        <div class="col-sm">
            <!-- TODO: Make replies work -->
            <button style="margin-top: .6rem; margin-left: 3rem;" class="btn btn-success" onclick="drawCommentBox()">
            Comment!</button>
            </div>
        </div>
    </div>
</div>

</div>
<script src="{{ url_for('static', filename='panels.js') }}"></script>

<script>

  tags.on('child_added', populateTags);

  var postPane = document.getElementById("postPane");
  var panelOne = document.getElementById("panelOne");
  var panelTwo = document.getElementById("panelTwo");
  var panelThree = document.getElementById("panelThree");

  document.querySelector("#showUnanswered").addEventListener("change", function (event) {
      var thread = document.querySelector("#panelTwo").dataset.tag;
      populateCards(thread, event.type);

  })
  document.querySelector("#searchTags").addEventListener("input", function(event) {
        console.log(event)
        search(this.value, "tags")
  })
  document.querySelector("#searchCards").addEventListener("input", function(event) {
        console.log(event)
        search(this.value, "cards")
  })
  {% if tag%}
      var tag = "{{tag|e}}";
      document.querySelector("#showUnanswered").checked = true;

      populateCards(tag);
  {% endif %}
  {% if card%}
      var card = "{{card|e}}";
      setTimeout(function (){populateComments(card, true)},1000);
  {% endif %}
</script>
</div>
{% endblock %}
